.header {
  background: #3e466f;
}

.header__title {
  color: white;
  text-decoration: none;
}

.header__title:hover {
  color: white;
  text-decoration: none;
}

.logout-btn {
  height: 60px;
  background: none;
  color: white;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.logout-btn:hover {
  opacity: 0.8;
}
